.ant-layout-sider-children {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  width: 50%;
  display: block;
  margin: 0 auto;
  padding: 30px 0px;
}

.header {
  padding: 0px 10px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ant-card-meta-title {
  margin-bottom: 0px !important;
}

.ant-card-actions {
  border: none !important;
}

.ant-card-actions > li {
  border: none !important;
}
